<h2>Workflow bearbeiten</h2>
<mat-card>
	<mat-stepper orientation="vertical" #stepper>
		<mat-step label="Workflow-Typ" state="kind">
			<div class="formStep">
				<div class="kindSelect">
					<button
						*ngFor="let t of workflowTypes"
						mat-stroked-button
						[ngClass]="{ selected: kindControl.value === t }"
						(click)="kindControl.setValue(t)"
					>
						{{ getReadableType(t) }}
					</button>
				</div>
			</div>
			<div class="actions">
				<button mat-button matStepperNext [disabled]="!kindControl.valid">
					<mat-icon>keyboard_arrow_down</mat-icon> weiter
				</button>
			</div>
		</mat-step>
		<ng-container *ngIf="wf" [formGroup]="wf">
			<mat-step label="Metadaten" state="metadata">
				<div class="formStep twoCol">
					<mat-form-field appearance="fill">
						<mat-label>Name</mat-label>
						<input matInput formControlName="name" required />
					</mat-form-field>
					<div>
						<button mat-raised-button color="primary" class="center" (click)="uploadFile.click()">
							Icon auswählen
						</button>
						<input #uploadFile type="file" (change)="loadImage($event)" accept="image/*" style="display: none" />
					</div>
					<mat-form-field appearance="fill">
						<mat-label>Beschreibung</mat-label>
						<textarea matInput placeholder="Dieser Workflow kann..." formControlName="description" required></textarea>
					</mat-form-field>
					<div class="icoPreview" [ngStyle]="{ backgroundImage: wf.iconStyle }"></div>
				</div>
				<div class="actions">
					<button mat-button matStepperNext [disabled]="!wf.ctls.name.valid || !wf.ctls.description.valid">
						<mat-icon>keyboard_arrow_down</mat-icon> weiter
					</button>
					<button mat-button matStepperPrevious><mat-icon>keyboard_arrow_up</mat-icon></button>
				</div>
			</mat-step>
			<mat-step label="Konfiguration" *ngIf="isKubernetesFg(wf)" state="config">
				<div class="formStep">
					<mat-form-field appearance="fill">
						<mat-label>Image</mat-label>
						<input matInput placeholder="docker-release..." formControlName="image" />
						<mat-hint>Docker-Tag</mat-hint>
					</mat-form-field>
					<br />
					<div>
						<p *ngIf="wf.ctls.command.controls.length === 0">Startbefehl: Standard des angegebenen Images</p>
						<mat-form-field
							appearance="fill"
							class="compound short"
							*ngFor="let c of wf.ctls.command.controls; let i = index"
						>
							<input matInput [formControl]="c" [placeholder]="['/bin/sh', '-c', '...'][i]" />
							<button matSuffix mat-icon-button (click)="wf.ctls.command.removeAt(i)">
								<mat-icon>close</mat-icon>
							</button>
							<mat-hint *ngIf="i === 0">Startbefehl</mat-hint>
						</mat-form-field>
					</div>
					<button class="center" mat-stroked-button (click)="wf.pushCommand()">
						<mat-icon>add</mat-icon>
						{{ wf.ctls.command.controls.length === 0 ? 'Startbefehl anpassen' : 'Befehlsteil hinzufügen' }}
					</button>
				</div>
				<div class="actions">
					<button mat-button matStepperNext [disabled]="!wf.ctls.command.valid || !wf.ctls.image.valid">
						<mat-icon>keyboard_arrow_down</mat-icon> weiter
					</button>
					<button mat-button matStepperPrevious><mat-icon>keyboard_arrow_up</mat-icon></button>
				</div>
			</mat-step>
			<mat-step label="Parameterisierung" state="parameterization">
				<div class="formStep">
					<mat-accordion>
						<mat-expansion-panel *ngFor="let ctl of wf.ctls.parameterFields.controls; let i = index" [formGroup]="ctl">
							<mat-expansion-panel-header>
								<mat-panel-title *ngIf="ctl.value.displayName">{{ ctl.value.displayName }}</mat-panel-title>
								<mat-panel-title *ngIf="!ctl.value.displayName"><i>unbenannter Parameter</i></mat-panel-title>
							</mat-expansion-panel-header>
							<div class="grid">
								<app-param-edit [ctl]="ctl"></app-param-edit>
								<div class="previewContainer">
									<p><i>Vorschau:</i></p>
									<p class="newlined">{{ ctl.value.description }}</p>
									<app-param-input [ctl]="previewControls[i]"></app-param-input>
								</div>
							</div>
							<mat-action-row>
								<button mat-button color="warn" (click)="wf.ctls.parameterFields.removeAt(i)">Parameter Löschen</button>
							</mat-action-row>
						</mat-expansion-panel>
					</mat-accordion>
					<button mat-stroked-button (click)="addParam()" class="center">
						<mat-icon>add</mat-icon> Parameter hinzufügen
					</button>
				</div>
				<div class="actions">
					<button mat-button matStepperNext [disabled]="!wf.ctls.parameterFields.valid">
						<mat-icon>keyboard_arrow_down</mat-icon> weiter
					</button>
					<button mat-button matStepperPrevious><mat-icon>keyboard_arrow_up</mat-icon></button>
				</div>
			</mat-step>
			<mat-step label="Abschließen" state="check">
				<div class="formStep" *ngIf="!wf.valid || !kindControl.valid">
					<p>Eingabedaten ungültig.<br />Bitte Fehler im Formular korrigieren um zu speichern.</p>
				</div>
				<div class="formStep" *ngIf="wf.valid && kindControl.valid">
					<table>
						<tr>
							<th>Workflow-Typ</th>
							<td>{{ isKubernetesFg(wf) ? 'Kubernetes' : 'WebWorker' }}</td>
						</tr>
						<tr>
							<th>Name</th>
							<td>{{ wf.value.name }}</td>
						</tr>
						<tr>
							<th>Beschreibung</th>
							<td>{{ wf.value.description }}</td>
						</tr>
						<tr *ngIf="isKubernetesFg(wf)">
							<th>Docker-Image</th>
							<td>
								<code>{{ wf.value.image }}</code>
							</td>
						</tr>
						<tr *ngIf="isKubernetesFg(wf)">
							<th>Startbefehl</th>
							<td *ngIf="wf.ctls.command.value.length > 0" class="code">
								{{ wf.ctls.command.value | json }}
							</td>
							<td *ngIf="wf.ctls.command.value.length === 0"><i>standard</i></td>
						</tr>
						<tr>
							<th>Parameter</th>
							<td *ngIf="wf.ctls.parameterFields">
								<span *ngIf="wf.ctls.parameterFields.length <= 0"><i>keine</i></span>
								<ul *ngIf="wf.ctls.parameterFields.length > 0">
									<li *ngFor="let p of wf.ctls.parameterFields.controls">
										{{ p.value.name }} ({{ p.parameter?.kind }})
									</li>
								</ul>
							</td>
						</tr>
					</table>
				</div>
				<div class="actions">
					<button mat-flat-button color="primary" (click)="save()" [disabled]="!wf.valid">
						<mat-icon>save</mat-icon> Speichern
					</button>
					<button mat-button matStepperPrevious><mat-icon>keyboard_arrow_up</mat-icon></button>
				</div>
			</mat-step>
		</ng-container>
		<!-- Icon overrides -->
		<ng-template matStepperIcon="kind">
			<mat-icon>type_specimen</mat-icon>
		</ng-template>
		<ng-template matStepperIcon="metadata">
			<mat-icon>description</mat-icon>
		</ng-template>
		<ng-template matStepperIcon="config">
			<mat-icon>settings</mat-icon>
		</ng-template>
		<ng-template matStepperIcon="parameterization">
			<mat-icon>input</mat-icon>
		</ng-template>
		<ng-template matStepperIcon="check">
			<mat-icon>checklist</mat-icon>
		</ng-template>
	</mat-stepper>
</mat-card>
