$navHeight: 64px;
$footerHeight: 32px;
app-nav,
app-footer {
	display: block;
}
app-nav {
	height: $navHeight;
}
app-messages {
	position: absolute;
	right: 1em;
	bottom: calc($footerHeight + 1em);
	z-index: 1;
}
app-footer {
	height: $footerHeight;
}
mat-drawer-container {
	min-height: calc(100% - $navHeight - $footerHeight);
}
