:host {
	max-width: 85%;
}
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 24em);
	justify-content: center;
	align-items: end;
	// grid-auto-rows: 200px;
	gap: 2em;
	.createButton {
		min-height: 10em;
		height: -webkit-fill-available;
		mat-icon {
			transform: scale(2.2);
		}
	}
}
