<mat-form-field *ngIf="ctl" appearance="fill">
	<mat-label>{{ ctl.parameter.displayName }}</mat-label>
	<input matInput [formControl]="ctl" [placeholder]="ctl.parameter.exampleValue || ''" />
	<mat-hint>{{ ctl.parameter.hint }}</mat-hint>
	<mat-error *ngIf="ctl.errors && ctl.errors['pattern']">
		Erforderliches Muster: <code>{{ ctl.errors['pattern'].requiredPattern }}</code>
	</mat-error>
	<mat-error *ngIf="ctl.errors && ctl.errors['required']"> Parameter ist erforderlich </mat-error>
</mat-form-field>
