table {
	text-align: left;
	padding: 0.5em;
	th,
	td {
		padding: 0 1em 0 0;
	}
}
p {
	max-height: 50vh;
	overflow-x: auto;
}
ul {
	list-style-type: square;
	margin: 0;
	padding: 0 0 0 1.5em;
}
table td span {
	width: fit-content;
}
